<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
 th:replace="~{fragments/layout :: layout (~{::body},'usersListView')}">

    <body>
        
        <h2>Añadir nuevos Usuarios</h2>
        <form th:object="${users}" class="form-horizontal" id="add-user-form" method="post">
            <div class="form-group has-feedback">
                <input
                th:replace="~{fragments/inputField :: input (Nombre, 'nombre', 'text')}" />
                <input
                th:replace="~{fragments/inputField :: input (Usuario, 'user_name', 'text')}" />
                <input
                th:replace="~{fragments/inputField :: input (Contraseña, 'password', 'password')}" />
                <input
                th:replace="~{fragments/inputField :: input (#{CodigoPostal}, 'cp', 'cp')}" />
                <input
                th:replace="~{fragments/inputField :: input (Municipio, 'municipio', 'text')}" />
                <input
                th:replace="~{fragments/inputField :: input (Activo, 'activo', 'select')}" />
            </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${users['new']} ? 'Añadir Usuario' : 'Actualizar Usuario'"
          class="btn btn-default" type="submit" th:text="${text}" >Add
          Owner</button>
      </div>
    </div>
        </form>
        
    </body>
    
    
</html>